@model WMBA_4.ViewModels.StatsVM
@* @model IEnumerable<WMBA_4.ViewModels.PlayerStatsVM> *@

@{
    ViewData["Title"] = "Player Stats";
}

<div class="f-in-flex justify-content-end">
    @using (Html.BeginForm("Create", "Player", FormMethod.Get))
    {
        <button class="btn btn-outline-dark me-1 @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false"
                aria-controls="collapseFilter" data-toggle="tooltip" data-placement="top" title="Click to toggle filter/search options">
            Filter/Search @ViewData["numberFilters"]
        </button>
        
    }
   
</div>

<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal mb-4">
        <div class="collapse" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="form-group col-md-4" data-toggle="tooltip" data-placement="top" title="Enter the player's name you want to search for">
                        <label class="control-label">Search Player Name:</label>
                        @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4 align-self-end" data-toggle="tooltip" data-placement="top" title="Click to apply the filter">
                        <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Click to clear filter">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* <h1>Players</h1> *@

@using (Html.BeginForm("Compare", "Report", FormMethod.Post))
{
        <button class="btn btn-outline-dark me-1" type="submit" id="compareplayers"
                data-toggle="tooltip" data-placement="top" title="Click to Compare two or more players">
            Compare players/Set Ranking
        </button>
    <div class="table-container" style="overflow-x: auto; width: 100%;">
        <table class="table-two">
            <thead>
               
                <tr>
                    <th>
                        Select
                    </th>
                    <th>
                        Ranking
                    </th>
                    <th style="position: sticky; left: 0; background-color: white; width: 100px;">
                        <input type="submit" name="actionButton" value="Player" class="text-column me-2" data-toggle="tooltip" data-placement="top" title="Click to sort Player" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="G" class="text-column me-2" data-toggle="tooltip" data-placement="top" title="Click to sort G" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="H" class="text-column me-2" data-toggle="tooltip" data-placement="top" title="Click to sort H" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="RBI" class="text-column me-2" data-toggle="tooltip" data-placement="top" title="Click to sort RBI" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="Singles" class="text-column me-2" data-toggle="tooltip" data-placement="top" title="Click to sort Singles" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="Doubles" class="text-column me-2" data-toggle="tooltip" data-placement="top" title="Click to sort Doubles" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="Triples" class="text-column me-2" data-toggle="tooltip" data-placement="top" title="Click to sort Triples" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="HR" class="text-column me-2" data-toggle="tooltip" data-placement="top" title="Click to sort HR" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="BB" class="text-column me-2" data-toggle="tooltip" data-placement="top" title="Click to sort BB" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="PA" class="text-column me-2" data-toggle="tooltip" data-placement="top" title="Click to sort PA" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="AB" class="text-column me-2" data-toggle="tooltip" data-placement="top" title="Click to sort AB" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="Run" class="text-column me-2" data-toggle="tooltip" data-placement="top" title="Click to sort Run" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="HBP" class="text-column me-2" data-toggle="tooltip" data-placement="top" title="Click to sort HBP" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="SO" class="text-column me-2" data-toggle="tooltip" data-placement="top" title="Click to sort SO" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="Out" class="text-column me-2" data-toggle="tooltip" data-placement="top" title="Click to sort Out" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="AVG" class="text-column me-2" data-toggle="tooltip" data-placement="top" title="Click to sort AVG" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="OBP" class="text-column me-2" data-toggle="tooltip" data-placement="top" title="Click to sort OBP" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="SLG" class="text-column me-2" data-toggle="tooltip" data-placement="top" title="Click to sort SLG" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="OPS" class="text-column me-2" data-toggle="tooltip" data-placement="top" title="Click to sort OPS" />
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PlayerStats)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="selectedPlayers" value="@item.ID" /> 
                        </td>
                            <td>
                                <input type="number" name="playerRankings[@item.ID]" maxlength="2" min="0" max="99" style="width: 3em;" />
                            </td>
                        <td style="position: sticky; left: 0; background-color: white; width: 200px;">
                            @Html.DisplayFor(modelItem => item.Player)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.G)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.H)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RBI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Singles)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doubles)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Triples)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BB)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AB)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Run)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HBP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Out)
                        </td>
                        <td>
                            @item.AVG.ToString("F3")
                        </td>
                        <td>
                            @item.OBP.ToString("F3")
                        </td>
                        <td>
                            @item.SLG.ToString("F3")
                        </td>
                        <td>
                            @item.OPS.ToString("F3")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    }
</form>