@model WMBA_4.ViewModels.StatsVM

@* @model IEnumerable<WMBA_4.ViewModels.TeamStatsVM> *@

@{
    ViewData["Title"] = "Team Stats";
}

<div class="f-in-flex justify-content-end">
    @using (Html.BeginForm("Create", "Player", FormMethod.Get))
    {
        <button class="btn btn-outline-dark me-1 @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false"
                aria-controls="collapseFilter" data-toggle="tooltip" data-placement="top" title="Click to toggle filter/search options">
            Filter/Search @ViewData["numberFilters"]
        </button>
    }
</div>

<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortTDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortTField"]" />
    <div class="form-horizontal mb-4">
        <div class="collapse" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="form-group col-md-4" data-toggle="tooltip" data-placement="top" title="Enter the player's name you want to search for">
                        <label class="control-label">Search Team Name:</label>
                        @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4 align-self-end" data-toggle="tooltip" data-placement="top" title="Click to apply the filter">
                        <input type="submit" name="actionTButton" value="Filter" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Click to clear filter">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* <h1>Teams</h1> *@
    <div class="table-container" style="overflow-x: auto; width: 100%;">
        <table class="table-two">
            <thead>
                <tr>
                    <th class="wide-column">
                        @Html.DisplayNameFor(model => model.TeamStats.First().Team)
                    </th>
                    <th class="wide-column">
                        @Html.DisplayNameFor(model => model.TeamStats.First().DivisionName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TeamStats.First().G)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TeamStats.First().H)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TeamStats.First().RBI)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TeamStats.First().Singles)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TeamStats.First().Doubles)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TeamStats.First().Triples)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TeamStats.First().BB)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TeamStats.First().PA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TeamStats.First().AB)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TeamStats.First().Run)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TeamStats.First().HBP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TeamStats.First().SO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TeamStats.First().Out)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TeamStats.First().AVG)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TeamStats.First().OBP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TeamStats.First().SLG)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TeamStats.First().OPS)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TeamStats)
                {
                    <tr>
                        <td style="position: sticky; left: 0; background-color: white; width: 100px;">
                            @Html.DisplayFor(modelItem => item.Team)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DivisionName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.G)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.H)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RBI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Singles)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doubles)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Triples)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BB)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AB)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Run)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HBP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Out)
                        </td>
                        <td>
                            @item.AVG.ToString("F3")
                        </td>
                        <td>
                            @item.OBP.ToString("F3")
                        </td>
                        <td>
                            @item.SLG.ToString("F3")
                        </td>
                        <td>
                            @item.OPS.ToString("F3")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>