@model IEnumerable<WMBA_4.Models.Game>

@{
    ViewData["Title"] = "Index";
}
@* page navigation *@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-chevron p-3 bg-breadcrumble rounded-3">
        <li class="breadcrumb-item">
            <a class="link-body-emphasis" asp-controller="Home" asp-action="Index">
                <i class="bi bi-house-door-fill"></i>
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            ScoreKeeper
        </li>
    </ol>
</nav>
@* page navigation *@
<div class="f-in-flex justify-content-end">
    @using (Html.BeginForm("Create", "Game", FormMethod.Get))
    {
        <button class="btn btn-outline-dark me-1 @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter/Search @ViewData["numberFilters"]
        </button>
    }
</div>
<div class="p-in-flex">
    <form asp-action="Index" method="get">
        <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
        <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
        <div class="form-horizontal">
            <div class="collapse" id="collapseFilter">
                <div class="card card-body bg-light">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label">Select Team:</label>
                            @Html.DropDownList("TeamID", null, "All Teams", htmlAttributes: new { @class = "form-control form-select" })
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Select Division:</label>
                            @Html.DropDownList("DivisionID", null, "All Divisions", htmlAttributes: new { @class = "form-control form-select" })
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Select by Location:</label>
                            @Html.DropDownList("LocationID", null, "All Locations", htmlAttributes: new { @class = "form-control form-select" })
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Select Game Type:</label>
                            @Html.DropDownList("GameTypeID", null, "All GameTypes", htmlAttributes: new { @class = "form-control form-select" })
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Date:</label>
                            <input id="GameDate" name="GameDate" class="form-control" type="date" value="@ViewData["GameDate"]" />
                        </div>
                        <div class="form-group col-md-4 align-self-end">
                            <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                            <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1>Upcoming Games</h1>
        @* Label Season: *@
        @if (Model.Any())
        {
            <h3>@Html.DisplayFor(model => Model.First().Season.SeasonName)</h3>
        }
        <div class="table-responsive mt-3">
            @* added from modal *@
            <div class="form-row" >
                <div class="form-group col-md-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Page Size: </span>
                        </div>
                        @Html.DropDownList("pageSizeID", null, htmlAttributes: new { @class = "form-control form-select text-center mx-1" })
                        <div class="input-group-append">
                            <input type="submit" class="btn btn-kelly" value="Set Page Size" />
                        </div>
                    </div>
                </div>
            </div>
            <table class="table giro-table table-bordered">
                <thead>
                    <tr>
                        <th style="width:10rem;">
                            <input type="submit" name="actionButton" value="Game" class="text-column" />
                        </th>
                        <th>
                            <div class="d-flex justify-content-center">
                                <input type="submit" name="actionButton" value="Date" class="text-column" />
                                @if (ViewData["sortField"].ToString() == "Date")
                                {
                                    <div>
                                        @if (ViewData["sortDirection"].ToString() == "asc")
                                        {
                                            <span class="material-icons-outlined ms-1 ft-kelly">
                                                <i class="fa-solid fa-sort-up"></i>
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="material-icons-outlined ms-1 ft-kelly">
                                                <i class="fa-solid fa-sort-down"></i>
                                            </span>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <span class="material-icons-outlined ms-1 ft-kelly">
                                            <i class="fa-solid fa-sort-up"></i>
                                        </span>
                                        <span class="material-icons-outlined ms-1 ft-kelly">
                                            <i class="fa-solid fa-sort-down" style="display: none;"></i>
                                        </span>
                                    </div>
                                }
                            </div>
                        </th>
                        <th>
                            <div class="t-in-flex"><span>Start Score</span></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderBy(g => g.Date))
                    {
                        <tr>
                            @{
                                var teamGamesList = item.TeamGames.ToList();
                                var firstTeamId = teamGamesList.FirstOrDefault()?.Team.ID; // Variable to store First Team ID
                            }
                            <td>
                                <div class="game-padding">
                                    <div class="game-flex mb-2 pb-2 border-bottom">
                                        <div class="pb-2"><span>@item.GameType.Description</span></div>
                                        <div><span>@item.Location.LocationName</span></div>
                                    </div>
                                    @for (int i = 0; i < teamGamesList.Count; i++)
                                    {
                                        <div class="li-flex align-items-center p-2 @(i == teamGamesList.Count - 1 ? "" : "border-bottom")">
                                            <div class="mx-2">@teamGamesList[i].Team.Division.DivisionName</div>
                                            <div class="mx-2">@teamGamesList[i].Team.Name</div>
                                            <div class="mx-2 text-bold">@teamGamesList[i].score</div>
                                        </div>
                                    }
                                </div>
                            </td>
                            <td>
                                @item.Date.ToString("MMMM dd hh:mm tt")
                            </td>
                            <td>
                                <div class="text-center">
                                    <a asp-action="SelectTeam" asp-route-id="@item.ID">
                                        <span class="material-symbols-outlined ft-kelly px-2 fs-3">
                                            Scoreboard
                                        </span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <partial name="_PagingNavBar" />
    </form>
</div>
