@model WMBA_4.Models.GameLineUp

@{
    ViewData["Title"] = "ScoreKeeping";
}

<div class="row">
    <div class="col-xl-5">
        <form asp-action="ScoreKeeping">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card">
                <div class="card-header" style="display: flex; justify-content: space-between;">
                    @if (ViewBag.Teams != null && ViewBag.Teams.Count > 0)
                    {
                        <h3 style="text-align: left;">@ViewBag.Team1</h3>
                        @if (ViewBag.Inplay != null)
                        {
                            @* <h4 id="runs">Runs: @(ViewBag.Inplay != null ? ViewBag.Inplay.Runs : "")</h4> *@
                            <h4 id="runs">@(ViewBag.Team1Score != null ? ViewBag.Team1Score : "")</h4>
                            <h4 id="runs2">@(ViewBag.Team2Score != null ? ViewBag.Team2Score : "")</h4>

                        }
                        if (ViewBag.Teams.Count > 1)
                        {
                            <h3 style="text-align: right;">@ViewBag.Team2</h3>
                        }
                    }

                </div>
                <div class="d-flex justify-content-around bg-light p-3 border-bottom">
                    @if (ViewBag.Inplay != null)
                    {
                        <h5 id="inning" class="card-title">Inning: @(ViewBag.Inplay.Inning != null ? ViewBag.Inplay.Inning.InningNumber : "N/A")</h5>
                        <h5 id="playerAtBat" class="card-title">Player at bat: @(ViewBag.Inplay.PlayerBatting != null ? ViewBag.Inplay.PlayerBatting.FullName : "N/A")</h5>
                    }
                </div>
                <div class="d-flex  bg-light p-3 border-bottom">
                    <h5 style="text-align: left;">Team Scoring: @ViewBag.TeamScoring</h5>
                </div>
                <div class="d-flex justify-content-around bg-light p-3 border-bottom">
                    @if (ViewBag.Inplay != null)
                    {
                        <h4 id="ballsText">B: <span id="ballsCount">@(ViewBag.Inplay != null ? ViewBag.Inplay.Balls : "")</span></h4>
                        <h4 id="strikeText">S: <span id="strikesCount">@(ViewBag.Inplay != null ? ViewBag.Inplay.Strikes : "")</span></h4>
                        @* <h4 id="foulsText"> <span id="fouls">@(ViewBag.Inplay != null ? ViewBag.Inplay.Fouls : "")</span></h4> *@
                        <h4 id="outsText">O: <span id="outs">@(ViewBag.Inplay != null ? ViewBag.Inplay.Outs : "")</span></h4>
                    }
                </div>

                <div class="p-3">
                    <img src="/images/baseball-diamond.png" class="card-img-top mx-auto d-block" alt="diamond baseball">
                </div>
                <div>
                    @if (ViewBag.Inplay != null)
                    {
                        <input type="hidden" id="inplayId" value="@(ViewBag.Inplay != null ? ViewBag.Inplay.ID : "")" />
                    }
                </div>
                <div class="card-body p-0">
                    <div class="d-flex justify-content-around bg-light p-3">
                        <a id="ballsButton" class="btn btn-kelly mx-1 col">Ball</a>
                        <a id="strikeButton" class="btn btn-kelly mx-1 col">Strike</a>
                        <a id="foulButton" class="btn btn-kelly mx-1 col">Foul</a>
                        <a id="outButton" class="btn btn-kelly mx-1 col">Out</a>
                    </div>
                    <div class="d-flex justify-content-around bg-light p-3 rounded-bottom">
                        <a id="hbpButton" class="btn btn-kelly mx-1 col">HBP</a>
                        @*  <a id="hitButton" class="btn btn-kelly mx-1 col">Hit</a> *@

                        <button type="button" class="btn btn-kelly mx-1 col dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hit
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Single</a>
                            <a class="dropdown-item" href="#">Double</a>
                            <a class="dropdown-item" href="#">Triple</a>
                            <a class="dropdown-item" href="#">HomeRun</a>
                        </div>

                        <a id="openPopupButton" data-inplayId="ViewBag.Inplay.ID" class="btn btn-kelly mx-1 col">In Play</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="col-xl-5">
    <div class="d-flex justify-content-around mt-3">
        <a asp-controller="ScorePlayer" id="startButton" asp-action="Start" asp-route-teamId="@ViewBag.TeamID" asp-route-gameId="@ViewBag.GameID" class="btn btn btn-secondary">Start Game</a>
        <a id="inningButton" data-team-id="@ViewBag.TeamID" data-game-id="@ViewBag.GameID" class="btn btn btn-outline-secondary">Next Inning</a>
        <a href="#" id="lineupButton" class="btn btn btn-outline-secondary" data-gameid="@ViewBag.GameID" data-teamid="@ViewBag.TeamID">Line Up</a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Exit Game
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item exit-game-option" href="#">End Game</a>
                <a class="dropdown-item exit-game-option" href="#">Cancel Game</a>
            </div>
        </div>
    </div>
</div>


@* This is for LineUp Popup *@
<div id="lineupPopup" class="popup-container" style="display: none;">
    <div class="popup-content">
        <button id="closeButton" class="close">&times;</button> <!-- "x" button -->
        <!-- This is where the lineup view will be loaded -->
        <button id="popoverButton" class="btn btn-secondary">Open Popover</button>
        <div id="popoverContent" style="display: none;">
            <!-- Popover content goes here -->
            This is the content of the popover.
        </div>
    </div>
</div>


@* Ths is for InPlay popup *@

<!-- Modal -->
<div class="modal fade" id="inplayModal" tabindex="-1" role="dialog" aria-labelledby="inplayModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inplayModalLabel">Inplay Data</h5>
                <button id="closeButtonInplayx" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="inplayModalBody">
            </div>
            <div class="modal-footer">
                <button id="closeButtonInplay" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="saveChangesButton" type="button" class="btn btn-kelly mx-1">Save changes</button>
            </div>
        </div>
    </div>
</div>

@*

Cierra popup  inplay *@
<script>
    $('#closeButtonInplay').click(function () {
        // Solo cierra el popup
        $('#inplayModal').modal('hide');
    });
</script>

@* Cierra boton Inplay desde la x *@

<script>
    $('#closeButtonInplayx').click(function () {
        // Solo cierra el popup
        $('#inplayModal').modal('hide');
    });
</script>




@* For the Modal Inplay *@
<script>
    $('#openPopupButton').click(function () {
        var inplayId = $('#inplayId').val();
        $.ajax({
            url: '/ScorePlayer/LoadInplayPartial',
            data: {
                inplayId: inplayId
            },
            success: function (response) {

                $('#inplayModalBody').html(response);

                $('#inplayModal').modal('show');
            }
        });
    });
</script>

@* For saving the changes in the modal *@
<script>
    $(document).ready(function () {
        $('#saveChangesButton').click(function () {
            var data = {
                InplayID: Number($('#inplayId').val()),
                PlayerInBase1Base: Number($('input[name="PlayerInBase1Base"]:checked').val()),
                PlayerInBase2Base: Number($('input[name="PlayerInBase2Base"]:checked').val()),
                PlayerInBase3Base: Number($('input[name="PlayerInBase3Base"]:checked').val()),
                PlayerBattingBase: Number($('input[name="PlayerBattingBase"]:checked').val()),
                PlayerInBase1Id: Number($('#playerInBase1Id').val()),
                PlayerInBase2Id: Number($('#playerInBase2Id').val()),
                PlayerInBase3Id: Number($('#playerInBase3Id').val()),
                PlayerBattingId: Number($('#playerBattingId').val()),
                IsHit: $('input[name="isHit"]').is(':checked'),
                IsRunPlayer1: $('input[name="isRunPlayer1"]').is(':checked'),
                IsRunPlayer2: $('input[name="isRunPlayer2"]').is(':checked'),
                IsRunPlayer3: $('input[name="isRunPlayer3"]').is(':checked'),
                IsOutPlayer1: $('input[name="isOutPlayer1"]').is(':checked'),
                IsOutPlayer2: $('input[name="isOutPlayer2"]').is(':checked'),
                IsOutPlayer3: $('input[name="isOutPlayer3"]').is(':checked'),
                IsRBI: Number($('input[name="isRBI"]').val()),
                IsHomerun: $('input[name="isHomerun"]').is(':checked'),

            };

            $.ajax({
                url: '/ScorePlayer/SaveInplayChanges',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    console.log(response);
                    if (response.success) {
                        console.log('Los datos se guardaron correctamente..');
                        $('#inplayId').val(response.inplay.id);
                        $('#strikesCount').text(response.inplay.strikes);
                        $('#outs').text(response.inplay.outs);
                        $('#fouls').text(response.inplay.fouls);
                        $('#ballsCount').text(response.inplay.balls);
                        $('#runs').text(response.inplay.runs);
                        $('#runs2').text(response.inplay.runs2);
                        $('#inning').text('Inning: ' + response.inplay.inningNumber);
                        $('#playerAtBat').text('Player at bat: ' + response.inplay.firstPlayer);

                        // Cierra el popup
                        $('#inplayModal').modal('hide');
                    } else {
                        console.log('Hubo un error al guardar los datos de Inply');
                    }
                }
            });
        });
    });
</script>



@* Script for Button´s action *@
<script>
    $(document).ready(function () {

        // Start Button
        $('#startButton').click(function (e) {
            e.preventDefault();

            var inplayId = $('#inplayId').val();
            var url = $(this).attr('href');
            url = url.replace('http://', 'https://');

            $.ajax({
                url: url,
                type: 'GET',

                success: function (data) {
                    if (data.success === false) {
                        // Show the error message in an alert
                        alert(data.message);
                    } else if (data.inplay) {
                        $('#inplayId').val(data.inplay.id);
                        $('#strikesCount').text(data.inplay.strikes);
                        $('#outs').text(data.inplay.outs);
                        $('#fouls').text(data.inplay.fouls);
                        $('#ballsCount').text(data.inplay.balls);
                        $('#runs').text(data.inplay.runs);
                        $('#runs2').text(data.inplay.runs2);
                        $('#inning').text('Inning: ' + data.inplay.inningNumber);
                        $('#playerAtBat').text('Player at bat: ' + data.inplay.firstPlayer);
                    } else {
                        console.log('inplay is undefined');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        });

        //Exit Button
        $(document).ready(function () {
            $('.exit-game-option').click(function (e) {
            e.preventDefault();
                var exitType = $(this).text();
                var inplayId = parseInt($('#inplayId').val(), 10);

                // if user click on "End Game"
                if ($(this).text() === 'End Game') {
                    // shows an alert to confirm the action
                    if (confirm('Are you sure you want to end the game?')) {

                        $.ajax({
                            url: '/ScorePlayer/Exit',
                            type: 'POST',
                            data: { id: inplayId, exitType: exitType },
                            success: function (data) { }
                        });
                    } else {
                        
                    }
                }
                // if the user clicked "Cancel Game"
                if ($(this).text() === 'Cancel Game') {
                    // shows the alert to confirm the action
                    if (confirm('Are you sure you want to cancel this game?')) {

                        $.ajax({
                            url: '/ScorePlayer/Exit',
                            type: 'POST',
                            data: { id: inplayId, exitType: exitType },
                            success: function (data) { }
                        });
                    } else {
                       
                    }
                }

         
        });
        });

        //Hits Button
        $(document).ready(function () {
            $('.dropdown-item').click(function (e) {
                e.preventDefault();

                var hitType = $(this).text();
                var inplayId = parseInt($('#inplayId').val(), 10);
               
                $.ajax({
                    url: '/ScorePlayer/Hit',
                    type: 'POST',
                    data: { id: inplayId, hitType: hitType },
                    success: function (data) {
                        console.log(data);
                        if (data.success === false) {
                            // Show the error message in an alert
                            alert(data.message);
                        } else if (data.inplay) {
                            $('#inplayId').val(data.inplay.id);
                            $('#strikesCount').text(data.inplay.strikes);
                            $('#outs').text(data.inplay.outs);
                            $('#fouls').text(data.inplay.fouls);
                            $('#ballsCount').text(data.inplay.balls);
                            $('#runs').text(data.inplay.runs);
                            $('#runs2').text(data.inplay.runs2);
                            $('#inning').text('Inning: ' + data.inplay.inningNumber);
                            $('#playerAtBat').text('Player at bat: ' + data.inplay.firstPlayer);
                        } else {
                            console.log('inplay is undefined');
                        }
                        if (data.needUserDecision) {
                            swal({
                                title: data.message,
                                text: "Choose one option:",
                                icon: "warning",
                                buttons: {
                                    cancel: "Out",
                                    confirm: "Run"
                                }
                            }).then((isConfirm) => {
                                if (isConfirm) {
                                    // El usuario eligió "Run"
                                    handleUserDecision(inplayId, "Run", data.playerBatting,data.playerInBase3);
                                } else {
                                    // El usuario eligió "Out"
                                    handleUserDecision(inplayId, "Out", data.playerBatting,data.playerInBase3);
                                }
                            });
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus, errorThrown);
                    }
                });
            });
        });

        function handleUserDecision(inplayId, decision,batter, player) {

            $.ajax({
                url: '/ScorePlayer/HandleUserDecision',
                type: 'POST',
                data: { id: inplayId, decision: decision, batter: batter,player: player },
                success: function (data) {

                    console.log(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        }
        //end hits button

        //Inning Button

        $('#inningButton').click(function (e) {
            e.preventDefault();
            var teamId = $(this).data('team-id');
            var gameId = $(this).data('game-id');
            var inplayId = $('#inplayId').val();
            console.log(teamId, gameId, inplayId);
            $.ajax({
                url: '/ScorePlayer/Inning',
                type: 'GET',
                data: {
                    teamId: teamId,
                    gameId: gameId,
                    inplayId: inplayId
                },
                success: function (data) {
                    if (data.inplay) {
                        $('#inplayId').val(data.inplay.id);
                        $('#strikesCount').text(data.inplay.strikes);
                        $('#outs').text(data.inplay.outs);
                        $('#fouls').text(data.inplay.fouls);
                        $('#ballsCount').text(data.inplay.balls);
                        $('#runs').text(data.inplay.runs);
                        $('#runs2').text(data.inplay.runs2);
                        $('#inning').text('Inning: ' + data.inplay.inningNumber);
                        $('#playerAtBat').text('Player at bat: ' + data.inplay.firstPlayer);
                    } else {
                        console.log('inplay is undefined');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        });


        // Ball Button

        $('#ballsButton').click(function (e) {
            e.preventDefault();
            var inplayId = $('#inplayId').val();

            $.ajax({
                url: '/ScorePlayer/CountBalls',
                type: 'POST',
                data: { inplayId: inplayId },
                success: function (data) {

                    if (data.success === false) {
                        alert(data.message);
                        return;
                    }
                    $('#ballsCount').text(data.inplay.balls);
                    $('#inplayId').val(data.inplay.id);
                    $('#strikesCount').text(data.inplay.strikes);
                    $('#outs').text(data.inplay.outs);
                    $('#fouls').text(data.inplay.fouls);
                    $('#runs').text(data.inplay.runs);
                    $('#runs2').text(data.inplay.runs2);
                    $('#inning').text('Inning: ' + data.inplay.inningNumber);
                    $('#playerAtBat').text('Player at bat: ' + data.inplay.firstPlayer);

                    // Check if the ball count is 4, then open the modal
                    if (data.inplay.balls === 4) {

                        $.ajax({
                            url: '/ScorePlayer/LoadInplayPartial',
                            data: {
                                inplayId: inplayId
                            },
                            success: function (response) {
                                $('#inplayModalBody').html(response);
                                $('#inplayModal').modal('show');
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.log(textStatus, errorThrown);
                            }
                        });
                    }


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        });
        // Strike Button

        $('#strikeButton').click(function (e) {
            e.preventDefault();
            var inplayId = $('#inplayId').val();;

            $.ajax({
                url: '/ScorePlayer/CountStrikes',
                type: 'POST',
                data: { inplayId: inplayId },
                success: function (data) {
                    if (data.success === false) {
                        alert(data.message);
                        return;
                    }
                    // Actualiza el contador de Balls en la vista
                    $('#ballsCount').text(data.inplay.balls);
                    $('#inplayId').val(data.inplay.id);
                    $('#strikesCount').text(data.inplay.strikes);
                    $('#outs').text(data.inplay.outs);
                    $('#fouls').text(data.inplay.fouls);
                    $('#runs').text(data.inplay.runs);
                    $('#runs2').text(data.inplay.runs2);
                    $('#inning').text('Inning: ' + data.inplay.inningNumber);
                    $('#playerAtBat').text('Player at bat: ' + data.inplay.firstPlayer);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        });

        // Foul Button

        $('#foulButton').click(function (e) {
            e.preventDefault();
            var inplayId = $('#inplayId').val();;

            $.ajax({
                url: '/ScorePlayer/CountFouls',
                type: 'POST',
                data: { inplayId: inplayId },
                success: function (data) {
                    if (data.success === false) {
                        alert(data.message);
                        return;
                    }
                    // Actualiza el contador de Balls en la vista
                    $('#ballsCount').text(data.inplay.balls);
                    $('#inplayId').val(data.inplay.id);
                    $('#strikesCount').text(data.inplay.strikes);
                    $('#outs').text(data.inplay.outs);
                    $('#fouls').text(data.inplay.fouls);
                    $('#runs').text(data.inplay.runs);
                    $('#runs2').text(data.inplay.runs2);
                    $('#inning').text('Inning: ' + data.inplay.inningNumber);
                    $('#playerAtBat').text('Player at bat: ' + data.inplay.firstPlayer);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        });

        // Hit by pitch Button

        $('#hbpButton').click(function (e) {
            e.preventDefault();
            var inplayId = $('#inplayId').val();

            $.ajax({
                url: '/ScorePlayer/HitByPitch',
                type: 'POST',
                data: { inplayId: inplayId },
                success: function (data) {
                    if (data.success === false) {
                        alert(data.message);
                        return;
                    }
                    // Actualiza el contador de Balls en la vista
                    $('#ballsCount').text(data.inplay.balls);
                    $('#inplayId').val(data.inplay.id);
                    $('#strikesCount').text(data.inplay.strikes);
                    $('#outs').text(data.inplay.outs);
                    $('#fouls').text(data.inplay.fouls);
                    $('#runs').text(data.inplay.runs);
                    $('#runs2').text(data.inplay.runs2);
                    $('#inning').text('Inning: ' + data.inplay.inningNumber);
                    $('#playerAtBat').text('Player at bat: ' + data.inplay.firstPlayer);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        });

        // Out Button

        $('#outButton').click(function (e) {
            e.preventDefault();
            var inplayId = $('#inplayId').val();;

            $.ajax({
                url: '/ScorePlayer/Out',
                type: 'POST',
                data: { inplayId: inplayId },
                success: function (data) {
                    if (data.success === false) {
                        alert(data.message);
                        return;
                    }
                    // Actualiza el contador de Balls en la vista
                    $('#ballsCount').text(data.inplay.balls);
                    $('#inplayId').val(data.inplay.id);
                    $('#strikesCount').text(data.inplay.strikes);
                    $('#outs').text(data.inplay.outs);
                    $('#fouls').text(data.inplay.fouls);
                    $('#runs').text(data.inplay.runs);
                    $('#runs2').text(data.inplay.runs2);
                    $('#inning').text('Inning: ' + data.inplay.inningNumber);
                    $('#playerAtBat').text('Player at bat: ' + data.inplay.firstPlayer);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        });


    });
</script>

@* Script for the LineUp Button *@
@section Scripts {
    <script>
        $(document).ready(function () {
            // Existing code for the start button AJAX request goes here
            $('#popoverButton').popover({
                container: 'body',
                content: $('#popoverContent').html(),
                html: true,
                title: 'Popover Title',
            });

            $('#lineupButton').click(function (e) {
                e.preventDefault();

                var gameId = $(this).data('gameid');
                var teamId = $(this).data('teamid');

                $.ajax({
                    url: '/ScorePlayer/GetLineup', // Change the URL to your endpoint that returns the lineup view
                    type: 'GET',
                    data: { gameId: gameId, teamId: teamId },
                    success: function (data) {
                        $('#lineupPopup .popup-content').html(data);
                        $('#lineupPopup').show();
                    },
                    error: function () {
                        console.error('Failed to fetch lineup data.');
                    }
                });
            });

            $(document).click(function (e) {
                if (!$(e.target).closest('#lineupPopup').length) {
                    $('#lineupPopup').hide();
                }
            });
        });
    </script>
}

@* Kim can you please change this to the loyout I dont want to move your code?, if you change de design its ok *@

@section Styles {
    <style>
        .btn.rounded-circle {
            width: 60px;
            height: 60px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 30px;
        }
    </style>
}