@model WMBA_4.Models.Game

@{
    ViewData["Title"] = "Create";
}

@* page navigation *@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-chevron p-3 bg-breadcrumble rounded-3">
        <li class="breadcrumb-item">
            <a class="link-body-emphasis" asp-controller="Home" asp-action="Index">
                <i class="bi bi-house-door-fill"></i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a class="link-body-emphasis fw-semibold text-decoration-none" asp-controller="Game" asp-action="Index">Game Assignment</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Create
        </li>
    </ol>
</nav>
@* page navigation *@

<h1>Add New Game</h1>
<hr />

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="form-group">
                <label for="DivisionID" class="control-label">Division</label>
                <select id="DivisionID" name="DivisionID" class="form-control form-select" asp-items="@ViewBag.DivisionID" required>
                    <option value="">Select a Division</option>
                </select>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Team1">Home Team</label>
                <select id="Team1" name="Team1" class="form-control form-select" asp-items="ViewBag.Teams"></select>
            </div>
            <div class="form-group">
                <label for="Team2">Visitor Team</label>
                <select id="Team2" name="Team2" class="form-control form-select" asp-items="ViewBag.Teams"></select>
            </div>
            <div>
                <div class="mb-2">
                    <button type="button" class="btn btn-kelly" data-toggle="modal" data-target="#addLocationModal">
                        <i class="fas fa-plus"></i>
                    </button>
                    <label asp-for="Location" class="control-label">Add Location</label>
                </div>
                <select id="SelectedLocationIds" name="LocationID" asp-for="Location" class="form-control form-select mb-3" asp-items="@ViewBag.LocationID">
                   @*  @foreach (var item in ViewBag.LocationID as MultiSelectList)
                    {
                        var isSelected = ViewBag.SelectedLocationIds.Contains(item.Value) ? "selected" : null;
                        <option value="@item.Value" selected="@isSelected">@item.Text</option>
                    } *@
                </select>
            </div>
            <div class="form-group">
                <label asp-for="GameTypeID" class="control-label"></label>
                <select asp-for="GameTypeID" class="form-control form-select" asp-items="ViewBag.GameTypeID"></select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <a href='@ViewData["returnURL"]' class="btn btn-outline-secondary mx-1">Back to the @ViewData["ControllerName"] List</a>
        <input type="submit" value="Create and Save" class="btn btn-kelly mx-1" />
    </div>
</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#saveLocationBtn').click(function () {
                var locationName = $('#LocationName').val();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AddLocation", "Game")',
                    data: { locationName: locationName },
                    success: function (data) {
                        $('#SelectedLocationIds').append('<option value="' + data.id + '">' + data.name + '</option>');
                        $('#addLocationModal').modal('hide');
                    },
                    error: function () {
                        alert('Error occurred while adding location.');
                    }
                });
            });
        });
    </script>

    <script>
        $(function () {

            $('#Team1').empty().append('<option>Teams not found in that Division</option>');
            $('#Team2').empty().append('<option>Teams not found in that Division</option>');

            $('#DivisionID').change(function () {
                var divisionId = $(this).val();
                $.getJSON('/Game/GetTeams', { divisionId: divisionId }, function (teams) {
                    //console.log(teams); // Log the teams to the console
                    var team1Select = $('#Team1');
                    var team2Select = $('#Team2');
                    team1Select.empty();
                    team2Select.empty();
                    if (teams.$values.length === 0) {
                        team1Select.append('<option>Teams not found in that Division</option>');
                        team2Select.append('<option>Teams not found in that Division</option>');
                    } else {
                        $.each(teams.$values, function (index, team) {
                            //console.log(team); // Log each team to the console
                            team1Select.append($('<option/>', { value: team.teamId, text: team.teamName }));
                            team2Select.append($('<option/>', { value: team.teamId, text: team.teamName }));
                        });
                    }
                });
            });

            var now = new Date();
            var month = String(now.getMonth() + 1).padStart(2, '0'); //January is 0!
            var day = String(now.getDate()).padStart(2, '0');
            var year = now.getFullYear();
            var hours = String(now.getHours()).padStart(2, '0');
            var minutes = String(now.getMinutes()).padStart(2, '0');

            var dateTime = year + '-' + month + '-' + day + 'T' + hours + ':' + minutes;
            $('#Date').val(dateTime);
        });
    </script>
}