@model WMBA_4.Models.Game

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3 class="text-red">Are you sure you want to delete this game?</h3>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamGames)
        </dt>
        <dd class="col-sm-10">
            @foreach (var t in Model.TeamGames)
            {
                @t.Team.Name <br />
            }
        </dd>
        @*  <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.score)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.score)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.LocationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Season)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Season.SeasonName)
        </dd>

    </dl>

    <form asp-action="Delete" class="form-group ">
        <input type="hidden" asp-for="ID" />
        <a href='@ViewData["returnURL"]' class="btn btn-outline-secondary mx-1">Back to the @ViewData["ControllerName"] List</a>
        <input type="submit" value="Delete" class="btn btn-danger mx-1" />
    </form>
</div>
@* MG *@