@model WMBA_4.Models.Game


<div class="card">
    <div class="card-body">
        <h1>
            @ViewBag.TeamName Line Up
        </h1>
    </div>
</div>
<div>
    <p>@Model.Date | @Html.DisplayFor(model => model.Location.LocationName) | @Html.DisplayFor(model => model.Season.SeasonName) </p>
    <br />
    <div class="col-md-4">
        <form asp-action="Save" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div>

                <div>

                    <ul id="sortableList" class="list-group">
                        @{

                            List<WMBA_4.ViewModels.CheckOptionVM> checkboxes = ViewBag.PlayersOptions;

                            @for (int i = 0; i < checkboxes.Count; i++)
                            {
                                <li class="list-group-item" data-id="@checkboxes[i].ID">
                                    <span class="batting-order">@(checkboxes[i].BattingOrder != 0 ? checkboxes[i].BattingOrder.ToString() : "")</span>
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           name="selectedOptions"
                                           value="@checkboxes[i].ID"
                                    @(checkboxes[i].Assigned ? "checked=\"checked\"" : "") />
                                    @checkboxes[i].DisplayText&nbsp;&nbsp;

                                </li>
                            }

                        }
                    </ul>

                </div>
            </div>

            <br />
            <div class="form-group">

                <input type="hidden" name="team" value="@ViewBag.TeamID" />
                <input type="hidden" name="gameid" value="@ViewBag.GameID" />
                <input type="submit" id="saveButton" value="Save" class="btn-kelly btn-text text-no-deco" />
            </div>
        </form>
    </div>


</div>
<div>
    <a asp-controller="Team" asp-action="details" asp-route-id="@ViewBag.TeamID">Back to Team Details</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.13.0/Sortable.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        var el = document.getElementById('sortableList');
        Sortable.create(el, {
            animation: 150,
            onEnd: function () {
                var listItems = el.children;
                for (var i = 0; i < listItems.length; i++) {
                    var listItem = listItems[i];
                    listItem.querySelector('.batting-order').textContent = i + 1;
                }
            }
        });

        document.getElementById('saveButton').addEventListener('click', function () {
            var playerOrder = [];
            var listItems = el.children;
            for (var i = 0; i < listItems.length; i++) {
                var listItem = listItems[i];
                if (listItem.querySelector('input[type="checkbox"]').checked) {
                    playerOrder.push({
                        id: listItem.getAttribute('data-id'),
                        order: i
                    });
                }
            }

        });
    });
</script>
