@model WMBA_4.Models.Game

<h1>
    @foreach (var t in Model.TeamGames)
    {
        @t.Team.Name <br /> 
    }
</h1>

<div>
    <h4>@Model.Date | @Html.DisplayFor(model => model.Location.LocationName) | @Html.DisplayNameFor(model => model.Season) @Html.DisplayFor(model => model.GameType.Description) </h4>
      
    <hr />

    <div class="col-md-4">
        <form asp-action="Save" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">

                <div>
                    @{

                        List<WMBA_4.ViewModels.CheckOptionVM> checkboxes = ViewBag.PlayersOptions;
                        foreach (var checkbox in checkboxes)
                        {


                            <input type="checkbox"
                                   name="selectedOptions"
                                   value="@checkbox.ID"
                            @(Html.Raw(checkbox.Assigned ? "checked=\"checked\"" : "")) />
                            @checkbox.DisplayText @:&nbsp;&nbsp;<br>

                        }

                    }

                </div>
            </div>
            <div class="form-group">
                
                <input type="hidden" name="team" value="@Model?.TeamGames?.FirstOrDefault()?.TeamID" />
                <input type="hidden" name="id" value="@Model?.ID" />
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>


</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
