@model WMBA_4.Models.Game

<div class="card">
    <div class="card-body">
        <h1>
            @ViewBag.TeamName Line Up 
        </h1>
    </div>
</div>
<div>    
    <p>@Model.Date | @Html.DisplayFor(model => model.Location.LocationName) | @Html.DisplayFor(model => model.Season.SeasonName) </p>   
    <br />
    <div class="col-md-4">
        <form asp-action="Save" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div>

                <div>

                    <ul class="list-group">
                    @{

                        List<WMBA_4.ViewModels.CheckOptionVM> checkboxes = ViewBag.PlayersOptions;
                        foreach (var checkbox in checkboxes)
                        {

                                <li class="list-group-item">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           name="selectedOptions"
                                           value="@checkbox.ID"
                                    @(checkbox.Assigned ? "checked=\"checked\"" : "") />
                                    @checkbox.DisplayText&nbsp;&nbsp;
                                </li>
                        }

                    }
                    </ul>
                   
                </div>
            </div>
            
            <br />
            <div class="form-group">
                
                <input type="hidden" name="team" value="@ViewBag.TeamID" />
                <input type="hidden" name="id" value="@Model?.ID" />
                <input type="submit" value="Save" class="btn-kelly btn-text text-no-deco" />
            </div>
        </form>
    </div>


</div>
<div>
    <a asp-controller="Team" asp-action="details" asp-route-id="@ViewBag.TeamID">Back to Team List</a>
</div>
