@model WMBA_4.ViewModels.GameEditVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Game</h4>
<hr />
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-4 mb-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <input type="hidden" asp-for="ID" /> *@


            <div class="form-group">
                <label asp-for="DivisionID" class="control-label"></label>
                <select asp-for="DivisionID" class="form-control form-select" asp-items="ViewBag.DivisionID" disabled></select>
            </div>

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team1ID" class="control-label"></label>
                <select asp-for="Team1ID" class="form-control form-select" asp-items="ViewBag.Team1ID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Team2ID" class="control-label "></label>
                <select asp-for="Team2ID" class="form-control form-select" asp-items="ViewBag.Team2ID"></select>
            </div>
            <div>
                <div class="mb-2">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addLocationModal">
                        <i class="fas fa-plus"></i>
                    </button>
                    <label asp-for="Locations" class="control-label">Add Location</label>
                </div>

                <select id="SelectedLocationIds" name="LocationID" asp-for="Locations" class="form-control mb-3" multiple>
                    @foreach (var item in ViewBag.LocationID as MultiSelectList)
                    {
                        var isSelected = ViewBag.SelectedLocationIds.Contains(item.Value) ? "selected" : null;
                        <option value="@item.Value" selected="@isSelected">@item.Text</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="SeasonID" class="control-label"></label>
                <select asp-for="SeasonID" class="form-control form-select" asp-items="ViewBag.SeasonID"></select>
                <span asp-validation-for="SeasonID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameTypeID" class="control-label"></label>
                <select asp-for="GameTypeID" class="form-control form-select" asp-items="ViewBag.GameTypeID"></select>
                <span asp-validation-for="GameTypeID" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <a href='@ViewData["returnURL"]' class="btn btn-outline-secondary mx-1">Back to the @ViewData["ControllerName"] List</a>
        <input type="submit" value="Edit and Save" class="btn btn-kelly mx-1" />
    </div>
</form>

@* Popup Modal *@
<div class="modal fade" id="addLocationModal" tabindex="-1" role="dialog" aria-labelledby="addLocationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addLocationModalLabel">Add New Location</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addLocationForm">
                    <div class="form-group">
                        <label for="LocationName">Location Name</label>
                        <input type="text" class="form-control" id="LocationName" name="LocationName" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveLocationBtn">Save changes</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#saveLocationBtn').click(function () {
                var locationName = $('#LocationName').val();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AddLocation", "Game")',
                    data: { locationName: locationName },
                    success: function (data) {
                        $('#SelectedLocationIds').append('<option value="' + data.id + '">' + data.name + '</option>');
                        $('#addLocationModal').modal('hide');
                    },
                    error: function () {
                        alert('Error occurred while adding location.');
                    }
                });                              
            });
        });
    </script>
}