@model IEnumerable<WMBA_4.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Game Assignments</h1>

<p>
    <a asp-action="Create">New Match</a>
</p>

<form asp-action="Index">
    <label for="seasonName">Season:</label>
    <input type="text" id="seasonName" name="seasonName" />
    <input type="submit" value="Filter" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamGames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Season)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @{
                var teamList = item.TeamGames.ToList();
            }
            <td>
                @for (int i = 0; i < teamList.Count; i++)
                {
                    @teamList[i].Team.Name
                    if (i < teamList.Count - 1)
                    {
                        <text> Vs </text>
                    }
                    <br />
                }
            </td>           
            <td>
                @item.Date.ToString("MMMM dd yyyy")
            </td>
                @* <td> Other way to display date
            @item.Date.ToString("dd/MM/yyyy")
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Season.SeasonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameType.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
