@model IEnumerable<WMBA_4.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<div class="p-in-flex">
    <div class="f-in-flex">
        <h1>Game Assignment</h1>

        @using (Html.BeginForm("Create", "Game", FormMethod.Get))
        {
            //<button type="submit" class="btn btn-kelly">Create Match</button>
            <button class="btn btn-outline-dark me-1 @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                Filter/Search @ViewData["numberFilters"]
            </button>
            <button type="submit" class="btn btn-kelly">Add Game</button>
        }
    </div>

  <form asp-action="Index" method="get">
        <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
        <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
        <div class="form-horizontal">
        <div class="collapse" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Select Division:</label>                        
                        @Html.DropDownList("DivisionID", null, "All Divisions", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Search by Location:</label>
                        @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Select GameType:</label>
                        @* @Html.DropDownList("TeamID", null, "All Teams", htmlAttributes: new { @class = "form-control" }) *@
                        @Html.DropDownList("GameTypeID", null, "All GameTypes", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4 align-self-end">
                        <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="table-responsive mt-3">
            @* added from modal *@
            <div class="form-row" style="width: 280px;">
                <div class="form-group col-md-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Page Size: </span>
                        </div>
                        @Html.DropDownList("pageSizeID", null, htmlAttributes: new { @class = "form-control text-center mx-1"})
                        <div class="input-group-append">
                            <input type="submit" class="btn btn-kelly" value="Set Page Size" />
                        </div>
                    </div>
                </div>
            </div>
            <br />
            @* Label Season: *@
            @if (Model.Any())
            {
                <h2>Season: @Html.DisplayFor(model => Model.First().Season.SeasonName)</h2>
            }
            <table class="table giro-table table-bordered">
                <thead>
                    <tr>
                        <th>
                            <input type="submit" name="actionButton" value="TeamGames" class="text-column" />
                        </th>
                        @*  <th>
                        <input type="submit" name="actionButton" value="Status" class="text-column" />
                        </th> *@
                        <th>
                            <input type="submit" name="actionButton" value="Division" class="text-column" />
                        </th>
                        <th>
                            <input type="submit" name="actionButton" value="Date" class="text-column" />
                        </th>
                        <th>
                            <input type="submit" name="actionButton" value="Location" class="text-column" />
                        </th>
@*                         <th>
                            <input type="submit" name="actionButton" value="Season" class="text-column" />
                        </th>   *@                      
                        <th>
                            <input type="submit" name="actionButton" value="GameType" class="text-column" />
                        </th>
                        <th>
                            <input type="submit" value="Edit/Inactive" class="text-column" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item2 in Model)
                    {
                        <tr>
                            @{
                                var teamGamesList = item2.TeamGames.ToList();
                                var firstTeamId = teamGamesList.FirstOrDefault()?.Team.ID; // Variable to store First Team ID
                            }
                            <td>   
                                @* Location *@
                                @item2.Location.LocationName <br /> <br />
                             
                                @foreach (var teamGame in teamGamesList)
                                {
                                    //First team in the list
                                    if (teamGame != teamGamesList.Last())
                                    {
                                        @:@teamGame.Team.Name
                                        @: <strong> @teamGame.score  </strong>
                                    }
                                    //Last team in the list
                                    else
                                    {
                                        @: <strong>  -  </strong>
                                        @: <strong>  @teamGame.score </strong>
                                        @: @teamGame.Team.Name
                                    }
                                }
                            </td>
                           @*  <td>
                                @foreach (var teamGame in teamGamesList)
                                {
                                    @teamGame.Team.Name
                                    if (teamGame != teamGamesList.Last())
                                    {
                                        //@: <strong>  Vs  </strong>
                                        @: <br /> <strong>  Vs  </strong> <br />
                                    }
                                }
                            </td> *@
                            <td>
                                @foreach (var teamGame in teamGamesList)
                                {
                                    @Html.DisplayFor(modelItem => teamGame.Team.Division.DivisionName)
                                    @*                                     if (teamGame != teamGamesList.Last())
                            {
                            @: <br />
                            } *@
                                }
                            </td>
                            <td>
                                @item2.Date.ToString("MMMM dd yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.Location.LocationName)
                            </td>
@*                             <td>
                                @Html.DisplayFor(modelItem => item2.Season.SeasonName)
                            </td>    *@                         
                            <td>
                                @Html.DisplayFor(modelItem => item2.GameType.Description)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item2.ID">
                                    <span class="material-symbols-outlined ft-light-grey px-1">
                                        edit
                                    </span>
                                </a>
                                <a asp-action="Delete" asp-route-id="@item2.ID">
                                    <span class="material-symbols-outlined ft-light-grey px-1">
                                        delete
                                    </span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <partial name="_PagingNavBar" />
    </form>
</div>