@model WMBA_4.Models.Team

@{
    ViewData["Title"] = "Inactive";
}

<h1>Delete</h1>

<h3 class="text-red">Are you sure you want to inactive <span class="text-bold">@Model.Name</span> ?</h3>
<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coach_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coach_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Division)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Division.DivisionName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <a href='@ViewData["returnURL"]' class="btn btn-outline-secondary mx-1">Back to the @ViewData["ControllerName"] List</a>
        <input type="submit" value="Inactive" class="btn btn-danger" />
    </form>
</div>
