@model WMBA_4.Models.Team

@{
    ViewData["Title"] = "Delete";
}

<h1>Inactive</h1>

<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Division)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Division.DivisionName)
        </dd>
    </dl>

    <form id="deleteForm" asp-action="Delete" class="form-group">
        <input type="hidden" asp-for="ID" />
        <a href='@ViewData["returnURL"]' class="btn btn-outline-secondary mx-1">Back to the @ViewData["ControllerName"] List</a>
        
         @{
            if (Model.Status) // If team is active
            {
                <button type="button" onclick="confirmDelete()" class="btn btn-danger mx-1">Inactive</button>
            }
            else // If team is inactive
            {
                <button type="button" onclick="confirmActivate()" class="btn btn-success mx-1">Activate</button>
            }
        }
    </form>
</div>
@section Scripts {
    <script>
        function confirmDelete() {
            if (confirm('Are you sure you want to inactive this team?')) {
                document.getElementById("deleteForm").submit();
            }
        }

        function confirmActivate() {
            if (confirm('Are you sure you want to activate this team?')) {
                location.href = '@Url.Action("Activate", "Team", new { id = Model.ID })';
            }
        }
    </script>
}
