@model WMBA_4.Models.Team

<h1>@Model.Name</h1>
<p>
    Division: @Model.Division.DivisionName | Coach: @Model.Coach_Name | City: Welland
</p>
<p>
<p>
    <a asp-action="ScheduleGame" asp-route-teamId="@Model?.ID" class="btn btn-primary" style="background-color: #4CBB17; color: #fff;">Schedule Game</a>
    <a asp-action="ViewTeam" asp-route-teamId="@Model?.ID" class="btn btn-info" style="background-color: #4CBB17; color: #fff;">View Team</a>
</p>

<div>

    <hr />
    <ul>
            @foreach (var teamGame in Model.TeamGames)
            {

            <li>
                <strong>Home Team:</strong> @(teamGame.Team.Name) |
                <strong>Visitor Team:</strong> @(ViewBag.VisitorTeams[teamGame.GameID]) |
                <strong>Game Date:</strong> @teamGame.Game.Date |
                <strong>Location:</strong> @teamGame.Game.LocationID |
                <strong>Season:</strong> @teamGame.Game.SeasonID |
                <strong>Game Type:</strong> @teamGame.Game.GameType
            </li>

            }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

