@model WMBA_4.Models.Team

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h3>@Model.Name</h3>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<hr />
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCoachModal">
                    <i class="fas fa-plus"></i> 
                </button>
                <select id="SelectedStaffIds" name="SelectedStaffIds" asp-for="TeamStaff" class="form-control" multiple>
                    @foreach (var item in ViewBag.StaffId as MultiSelectList)
                    {
                        var isSelected = ViewBag.SelectedStaffIds.Contains(item.Value) ? "selected" : null;
                        <option value="@item.Value" selected="@isSelected">@item.Text</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="DivisionID" class="control-label"></label>
                <select asp-for="DivisionID" class="form-control form-select" asp-items="ViewBag.DivisionID"></select>
                <span asp-validation-for="DivisionID" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <a href='@ViewData["returnURL"]' class="btn btn-outline-secondary mx-1">Back to the @ViewData["ControllerName"] List</a>
        <input type="submit" value="Edit and Save" class="btn btn-kelly mx-1" />
    </div>
</form>


<div class="modal fade" id="addCoachModal" tabindex="-1" role="dialog" aria-labelledby="addCoachModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCoachModalLabel">Add New Coach</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addCoachForm">
                    <div class="form-group">
                        <label for="coachFirstName">First Name</label>
                        <input type="text" class="form-control" id="coachFirstName" name="coachFirstName" required>
                    </div>
                    <div class="form-group">
                        <label for="coachLastName">Last Name</label>
                        <input type="text" class="form-control" id="coachLastName" name="coachLastName" required>
                    </div>
                    <div class="form-group">
                        <label for="coachEmail">Email</label>
                        <input type="email" class="form-control" id="coachEmail" name="coachEmail" required>
                    </div>
                   
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveCoachBtn">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#saveCoachBtn').click(function () {
                var firstName = $('#coachFirstName').val();
                var lastName = $('#coachLastName').val();
                var email = $('#coachEmail').val();
               
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AddCoach", "Team")',
                    data: { firstName: firstName, lastName: lastName, email: email },
                    success: function (data) {
                        
                        $('#SelectedStaffIds').append('<option value="' + data.id + '">' + data.name + '</option>');
                        
                        $('#addCoachModal').modal('hide');
                    },
                    error: function () {
                        alert('Error occurred while adding coach.');
                    }
                });
            });
        });
    </script>
}

