@model IEnumerable<WMBA_4.Models.Team>

@{
    ViewData["Title"] = "Index";
}

<style>
    h1 {
        text-align: center !important;
    }

    .team-card {
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }

    .team-name {
        font-size: 18px; /* Adjust the font size as needed */
    }

    .controls {
        font-size: 16px; /* Adjust the font size as needed */
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>

<div class="header-container">
    <h1>Teams</h1>
    <div class="create-new">
        <a asp-action="Create" class="btn btn-sm btn-success" role="button" style="background-color: #4CBB17; color: #fff;">
            Create New
        </a>
    </div>
</div>

@foreach (var item in Model)
{
    <div class="team-card">
        <span class="team-name">@Html.DisplayFor(modelItem => item.Name)</span>

        <div class="controls">
            <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-outline-primary"
               role="button" data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
                Edit
            </a>
            <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-outline-primary"
               role="button" data-bs-toggle="tooltip" title="Delete @ViewData["ControllerFriendlyName"]">
                Delete
            </a>
            <a asp-action="Details" asp-route-id="@item.ID" role="button" style="color: #007BFF;">
                &gt;
            </a>
        </div>
    </div>
}
