@model IEnumerable<WMBA_4.Models.Team>
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
    var user = await UserManager.GetUserAsync(User);

    // Check if the user is in the "Scorekeeper" role
    var isScorekeeper = await UserManager.IsInRoleAsync(user, "Scorekeeper");
}

@* page navigation *@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-chevron p-3 bg-breadcrumble rounded-3">
        <li class="breadcrumb-item">
            <a class="link-body-emphasis" asp-controller="Home" asp-action="Index">
                <i class="bi bi-house-door-fill"></i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a class="link-body-emphasis fw-semibold text-decoration-none" asp-controller="Team" asp-action="Index">Team</a>
        </li>
    </ol>
</nav>

<div class="f-in-flex justify-content-end">

        @using (Html.BeginForm("Create", "Team", FormMethod.Get))
        {
        <button class="btn btn-outline-dark me-1 @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" 
        aria-controls="collapseFilter" data-toggle="tooltip" data-placement="top" title="Click to toggle filter/search options">
                Filter/Search @ViewData["numberFilters"]
            </button>
        @if (!isScorekeeper)
        {
        <button type="submit" class="btn btn-kelly" data-toggle="tooltip" data-placement="top" title="Click to add a new team">Add Team</button>
        }
        }
    </div>

<div class="p-in-flex">
    <form asp-action="Index" method="get">
        <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
        <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
        <div class="form-horizontal">
            <div class="collapse" id="collapseFilter">
                <div class="card card-body bg-light">
                    <div class="row">
                        <div class="form-group col-md-4" data-toggle="tooltip" data-placement="top" title="Enter the Team name you want to search for">
                            <label class="control-label">Search Team by Name:</label>
                            @Html.TextBox("SearchString", null, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-4" data-toggle="tooltip" data-placement="top" title="Select the pleyer's team">
                            <label class="control-label">Select Team:</label>
                            @Html.DropDownList("TeamID", null, "All Teams", htmlAttributes: new { @class = "form-control form-control form-select" })
                        </div>
                        <div class="form-group col-md-4" data-toggle="tooltip" data-placement="top" title="Select the division you want to search for">
                            <label class="control-label">Select Team:</label>
                            @Html.DropDownList("DivisionID", null, "All Divisions", htmlAttributes: new { @class = "form-control" })
                        </div> 
                        <div class="form-group col-md-4 align-content-center">
                            <div class="d-flex my-2">
                                @Html.CheckBox("isActive", null, new { @class = "form-check form-switch me-2", id = "isActiveCheckbox" })
                                <label class="control-label" for="isActiveCheckbox">Active Teams Only</label>
                            </div>
                            <div class="d-flex my-2">
                                @Html.CheckBox("isInactive", null, new { @class = "form-check form-switch me-2", id = "isInactiveCheckbox" })
                                <label class="control-label" for="isInactiveCheckbox">Inactive Teams Only</label>
                            </div>
                        </div>
                        <div class="form-group col-md-4 align-self-end" data-toggle="tooltip" data-placement="top" title="Click to apply the filter">
                            <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                            <a asp-action="Index" class="btn btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Click to clear filter">Clear</a>
                        </div>
                        <div class="form-group">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive mt-3">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Page Size: </span>
                        </div>
                        @Html.DropDownList("pageSizeID", null, htmlAttributes: new
                            {
                                @class = "form-control form-select text-center mx-1",
                                @data_toggle = "tooltip",
                                @data_placement = "top",
                                @title = "Select the page size"
                            })
                        <div class="input-group-append" data-toggle="tooltip" data-placement="top" title="Click to set page size">
                            <input type="submit" class="btn btn-kelly" value="Set Page Size" />
                        </div>
                    </div>
                </div>
            </div>
            <table class="table giro-table table-bordered">
                <thead>
                    <tr>
                        <th>
                            <div class="d-flex justify-content-center">
                                <input type="submit" name="actionButton" value="Team" class="text-column me-2" data-toggle="tooltip" data-placement="top" title="Click to sort team" />
                                @if (ViewData["sortField"].ToString() == "Team")
                                {
                                    <div>
                                        @if (ViewData["sortDirection"].ToString() == "asc")
                                        {
                                            <span class="material-icons-outlined ms-1 ft-kelly" data-toggle="tooltip" data-placement="top" title="Sorted Ascending">
                                                <i class="fa-solid fa-sort-up"></i>
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="material-icons-outlined ms-1 ft-kelly" data-toggle="tooltip" data-placement="top" title="Sorted Descending">
                                                <i class="fa-solid fa-sort-down"></i>
                                            </span>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <span class="material-icons-outlined ms-1 ft-kelly" data-toggle="tooltip" data-placement="top" title="Click to sort Ascending">
                                            <i class="fa-solid fa-sort-up"></i>
                                        </span>
                                        <span class="material-icons-outlined ms-1 ft-kelly" data-toggle="tooltip" data-placement="top" title="Click to sort Descending" style="display: none;">
                                            <i class="fa-solid fa-sort-down" style="display: none;"></i>
                                        </span>
                                    </div>
                                }
                            </div>
                        </th>
                        <th>
                            <div class="d-flex justify-content-center">
                                <input type="submit" name="actionButton" value="Division" class="text-column me-2" data-toggle="tooltip" data-placement="top" title="Click to sort by division" />
                                @if (ViewData["sortField"].ToString() == "Division")
                                {
                                    <div>
                                        @if (ViewData["sortDirection"].ToString() == "asc")
                                        {
                                            <span class="material-icons-outlined ms-1 ft-kelly" data-toggle="tooltip" data-placement="top" title="Sorted Ascending">
                                                <i class="fa-solid fa-sort-up"></i>
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="material-icons-outlined ms-1 ft-kelly" data-toggle="tooltip" data-placement="top" title="Sorted Descending">
                                                <i class="fa-solid fa-sort-down"></i>
                                            </span>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <span class="material-icons-outlined ms-1 ft-kelly" data-toggle="tooltip" data-placement="top" title="Click to sort Ascending">
                                            <i class="fa-solid fa-sort-up"></i>
                                        </span>
                                        <span class="material-icons-outlined ms-1 ft-kelly" data-toggle="tooltip" data-placement="top" title="Click to sort Descending">
                                            <i class="fa-solid fa-sort-down" style="display: none;"></i>
                                        </span>
                                    </div>
                                }
                            </div>
                        </th>
                        <th>
                            <div class="t-in-flex"><span>Edit |&nbsp;</span><span>LineUp |&nbsp;</span><span>Status</span></div>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="@((item.Status) ? "" : "inactive-team")">
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Division.DivisionName)
                            </td>
                            <td>
                                @if (item.Status == true)
                                {
                                    

                                        @if (!isScorekeeper)
                                        {
                                            <a asp-action="Edit" asp-route-id="@item.ID" data-toggle="tooltip" data-placement="top" title="Edit team">
                                            <span class="material-symbols-outlined ft-kelly px-1">
                                                edit
                                            </span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-action="Index" asp-route-id="@item.ID" data-toggle="tooltip" data-placement="top" title="Edit team">
                                            <span class="material-symbols-outlined ft-kelly px-1" style="pointer-events: none; color: gray;" data-toggle="tooltip" data-placement="top" title="You do not have permission to edit this team">
                                                edit
                                            </span>
                                            </a>
                                        }
                                    
                                    <a asp-action="Details" asp-route-id="@item.ID" data-toggle="tooltip" data-placement="top" title=" View details">
                                        <span class="material-symbols-outlined ft-kelly px-1">
                                            visibility
                                        </span>
                                </a>
                                    <a asp-action="Delete" asp-route-id="@item.ID" data-toggle="tooltip" data-placement="top" title=" Set to Inactive division">
                                        <span class="material-symbols-outlined ft-kelly px-2">
                                            group
                                        </span>
                                </a>
                                }
                                else
                                {
                                    <div class="d-inline">
                                        <span class="material-symbols-outlined px-1" style="color: var(--ft-light-grey);">
                                            edit
                                        </span>
                                    </div>
                                    <a asp-action="Details" asp-route-id="@item.ID">
                                        <span class="material-symbols-outlined px-1">
                                            visibility
                                        </span>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.ID" data-toggle="tooltip" data-placement="top" title=" Set to Active division">
                                        <span class="material-symbols-outlined px-2">
                                            group_off
                                        </span>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <partial name="_PagingNavBar" />
    </form>
</div>



