@model WMBA_4.ViewModels.StaffAdminVM

@{
    ViewData["Title"] = "Create";
}
@* page navigation *@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-chevron p-3 bg-breadcrumble rounded-3">
        <li class="breadcrumb-item">
            <a class="link-body-emphasis" asp-controller="Home" asp-action="Index">
                <i class="bi bi-house-door-fill"></i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a class="link-body-emphasis fw-semibold text-decoration-none" asp-controller="Staff" asp-action="Index">Staff</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Create
        </li>
    </ol>
</nav>
@*<h1>Create New Staff</h1>*@

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <input type="hidden" asp-for="Status" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" autofocus />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Roles" class="control-label"></label>
                <div class="list-group">
                    @{
                        List<WMBA_4.ViewModels.RoleVM> roles = ViewBag.Roles;
                        foreach (var role in roles)
                        {
                            <div class="mb-1">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox"
                                           id="@role.RoleName-CheckBox"
                                           name="selectedRoles"
                                           value="@role.RoleName"
                                    @(Html.Raw(role.Assigned ? "checked=\"checked\"" : "")) />
                                    <label class="form-check-label" for="@role.RoleName-CheckBox">@role.RoleName</label>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <a href='@ViewData["returnURL"]' class="btn btn-outline-secondary mx-1">Back to the @ViewData["ControllerName"] List</a>
        <input type="submit" value="Create" class="btn btn-kelly mx-1" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}




