@model WMBA_4.ViewModels.InPlayMV

<form method="post" action="@Url.Action("SaveInplayChanges", "ScorePlayer")">
<table class="table">
    <thead>
        <tr>
            <th>Player</th>
            <th>1B</th>
            <th>2B</th>
            <th>3B</th>
            <th>RBI</th>        
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
            
            <tr>
                <td id="playerInBase1">@Model.PlayerBattingId</td>
                <td><input type="radio" name="playerInBase1Id" value="1" @(Model.PlayerInBase1Id.HasValue && Model.PlayerInBase1Id.Value == 1 ? "checked" : "") /></td>
                <td><input type="radio" name="playerInBase1Id" value="2" /></td>
                <td><input type="radio" name="playerInBase1Id" value="3" /></td>
            </tr>
            <tr>
                <td id="playerInBase2">@Model.PlayerInBase2Name</td>
                <td><input type="radio" name="playerInBase2Id" value="1" /></td>
                <td><input type="radio" name="playerInBase2Id" value="2" @(Model.PlayerInBase2Id.HasValue && Model.PlayerInBase2Id.Value == 2 ? "checked" : "") /></td>
                <td><input type="radio" name="playerInBase2Id" value="3" /></td>
            </tr>
            <tr>
                <td id="playerInBase3">@Model.PlayerInBase3Name</td>
                <td><input type="radio" name="playerInBase3Id" value="1" /></td>
                <td><input type="radio" name="playerInBase3Id" value="2" /></td>
                <td><input type="radio" name="playerInBase3Id" value="3" @(Model.PlayerInBase3Id.HasValue && Model.PlayerInBase3Id.Value == 3 ? "checked" : "") /></td>
           
          <td>
            <input type="hidden" name="inplayId" value="@Model.InplayID" />
            <input type="hidden" name="playerBattingId" value="@Model.PlayerBattingId" />
            <input type="hidden" name="playerInBase1Id" value="@Model.PlayerInBase1Id" />
            <input type="hidden" name="playerInBase2Id" value="@Model.PlayerInBase2Id" />
            <input type="hidden" name="playerInBase3Id" value="@Model.PlayerInBase3Id" />
                <button type="button" class="btn btn-success">Run</button>
                <button type="button" class="btn btn-danger">Out</button>
            </td>
        </tr>
    </tbody>
</table>
</form>
<style>
    .table td, .table th {
        padding: 0.05rem;
        margin: 0;
    }
</style>