@model IEnumerable<WMBA_4.Models.Player>

@{
    ViewData["Title"] = "Index";
}

@* page navigation *@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-chevron p-3 bg-breadcrumble rounded-3">
        <li class="breadcrumb-item">
            <a class="link-body-emphasis" asp-controller="Home" asp-action="Index">
                <i class="bi bi-house-door-fill"></i>
            </a>
        </li>
         <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" asp-controller="Player" asp-action="Index">Player</a>
        </li>
        @* <li class="breadcrumb-item active" aria-current="page">
            Player
        </li> *@
    </ol>
</nav>
@* page navigation *@
<div class="f-in-flex justify-content-end">
    @* <h1>Players</h1> *@

    @using (Html.BeginForm("Create", "Player", FormMethod.Get))
    {
        <button class="btn btn-outline-dark me-1 @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter/Search @ViewData["numberFilters"]
        </button>
        <button type="submit" class="btn btn-kelly">Add Player</button>
    }
</div>
<div class="p-in-flex">
    <form asp-action="Index" method="get">
        <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
        <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
        <div class="form-horizontal">
            <div class="collapse" id="collapseFilter">
                <div class="card card-body bg-light">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label">Search Player Name:</label>
                            @Html.TextBox("SearchString", null, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Select Team:</label>
                            @Html.DropDownList("TeamID", null, "All Teams", htmlAttributes: new { @class = "form-control form-control form-select" })
                        </div> 
                        <div class="form-group col-md-4">
                            <label class="control-label">Select Division:</label>
                            @Html.DropDownList("DivisionID", null, "All Divisions", htmlAttributes: new { @class = "form-control form-control form-select" })
                        </div>
                        <div class="form-group col-md-4 align-content-center">
                            <div class="d-flex my-2">
                                @Html.CheckBox("isActive", null, new { @class = "form-check form-switch me-2", id = "isActiveCheckbox" })
                                <label class="control-label" for="isActiveCheckbox">Active Players Only</label>
                            </div>
                            <div class="d-flex my-2">
                                @Html.CheckBox("isInactive", null, new { @class = "form-check form-switch me-2", id = "isInactiveCheckbox" })
                                <label class="control-label" for="isInactiveCheckbox">Inactive Players Only</label>
                            </div>
                        </div>
                        <div class="form-group col-md-4 align-self-end">
                            <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                            <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                        </div>
                        <div class="form-group">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive mt-3">
            @* added from modal *@
            <div class="form-row">
                <div class="form-group col-md-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Page Size: </span>
                        </div>
                        @Html.DropDownList("pageSizeID", null, htmlAttributes: new { @class = "form-control form-select text-center mx-1" })
                        <div class="input-group-append">
                            <input type="submit" class="btn btn-kelly" value="Set Page Size" />
                        </div>
                    </div>
                </div>
            </div>
            @* added from modal *@
            <table class="table giro-table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 7rem;">
                            <div class="d-flex justify-content-center">
                                <input type="submit" name="actionButton" value="Player" class="text-column me-2" />
                                @if (ViewData["sortField"].ToString() == "Player")
                                {
                                    <div>
                                        @if (ViewData["sortDirection"].ToString() == "asc")
                                        {
                                            <span class="material-icons-outlined ms-1 ft-kelly">
                                                <i class="fa-solid fa-sort-up"></i>
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="material-icons-outlined ms-1 ft-kelly">
                                                <i class="fa-solid fa-sort-down"></i>
                                            </span>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <span class="material-icons-outlined ms-1 ft-kelly">
                                            <i class="fa-solid fa-sort-up"></i>
                                        </span>
                                        <span class="material-icons-outlined ms-1 ft-kelly">
                                            <i class="fa-solid fa-sort-down" style="display: none;"></i>
                                        </span>
                                    </div>
                                }
                            </div>
                        </th>
                        <th>
                            <div class="d-flex justify-content-center">
                                <input type="submit" name="actionButton" value="Team" class="text-column me-2" />
                                @if (ViewData["sortField"].ToString() == "Team")
                                {
                                    <div>
                                        @if (ViewData["sortDirection"].ToString() == "asc")
                                        {
                                            <span class="material-icons-outlined ms-1 ft-kelly">
                                                <i class="fa-solid fa-sort-up"></i>
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="material-icons-outlined ms-1 ft-kelly">
                                                <i class="fa-solid fa-sort-down"></i>
                                            </span>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <span class="material-icons-outlined ms-1 ft-kelly">
                                            <i class="fa-solid fa-sort-up"></i>
                                        </span>
                                        <span class="material-icons-outlined ms-1 ft-kelly">
                                            <i class="fa-solid fa-sort-down" style="display: none;"></i>
                                        </span>
                                    </div>
                                }
                            </div>
                        </th>
                        <th>
                            <div class="d-flex justify-content-center">
                                <input type="submit" name="actionButton" value="Division" class="text-column me-2" />
                                @if (ViewData["sortField"].ToString() == "Division")
                                {
                                    <div>
                                        @if (ViewData["sortDirection"].ToString() == "asc")
                                        {
                                            <span class="material-icons-outlined ms-1 ft-kelly">
                                                <i class="fa-solid fa-sort-up"></i>
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="material-icons-outlined ms-1 ft-kelly">
                                                <i class="fa-solid fa-sort-down"></i>
                                            </span>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <span class="material-icons-outlined ms-1 ft-kelly">
                                            <i class="fa-solid fa-sort-up"></i>
                                        </span>
                                        <span class="material-icons-outlined ms-1 ft-kelly">
                                            <i class="fa-solid fa-sort-down" style="display: none;"></i>
                                        </span>
                                    </div>
                                }
                            </div>
                        </th>
                        <th>
                            <div class="t-in-flex"><span>Edit |&nbsp;</span><span>Detail |&nbsp;</span><span>Status</span></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="@((item.Status) ? "" : "inactive-player") player-row" onclick="redirectToDetails('@item.ID')">
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Team.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Team.Division.DivisionName)
                            </td>
                            <td>
                                @if (item.Status == true)
                                {
                                    <div class="t-in-flex">
                                        <a asp-action="Edit" asp-route-id="@item.ID">
                                            <span class="material-symbols-outlined ft-kelly px-2">
                                                edit
                                            </span>
                                        </a>
                                        <a asp-action="Details" asp-route-id="@item.ID">
                                            <span class="material-symbols-outlined ft-kelly px-2">
                                                visibility
                                            </span>
                                        </a>
                                        <a asp-action="Delete" asp-route-id="@item.ID">
                                            <span class="material-symbols-outlined ft-kelly px-2">
                                                person
                                            </span>
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div class="d-inline">
                                        <span class="material-symbols-outlined px-2" style="color: var(--ft-light-grey);">
                                            edit
                                        </span>
                                    </div>
                                    <a asp-action="Details" asp-route-id="@item.ID">
                                        <span class="material-symbols-outlined px-2">
                                            visibility
                                        </span>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.ID">
                                        <span class="material-symbols-outlined px-2">
                                            person_off
                                        </span>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <partial name="_PagingNavBar" />
    </form>
</div>

@* show a player's details view when click the row *@
@section Scripts {
    <script>
        function redirectToDetails(playerId) {
            window.location.href = '@Url.Action("Details", "Player")/' + playerId;
        }
    </script>
}