@model IEnumerable<WMBA_4.Models.Division>

@{
    ViewData["Title"] = "Index";
}

<div class="p-in-flex">
    <div class="f-in-flex">
        <h1>Division</h1>

        @using (Html.BeginForm("Create", "Division", FormMethod.Get))
        {
            <button type="submit" class="btn-kelly btn-text text-no-deco">Create New</button>
        }
    </div>
    <table class="table giro-table table-bordered">
        <thead>
            <tr>
                <th>
                    Division Name
                    @* <input type="submit" value="DivisionName" class="btn btn-toolbar text-break" /> *@
                </th>
                <th>
                    League
                    @* <input type="submit" name="actionButton" value="League" class="btn btn-link" /> *@
                    @* Html.DisplayNameFor(model => model.League) *@
                </th>
                <th>
                    Operation
                    @* <input type="submit" value="Operation" class="btn btn-toolbar" /> *@
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DivisionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Club.ClubName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">
                            <span class="material-symbols-outlined ft-light-grey px-1">
                                edit
                            </span>
                        </a>
                        @* <a href="#" onclick="openModal('@Url.Action("Details", "Player", new { id = item.ID })')" style="text-decoration: none;">
                    <span class="material-symbols-outlined">
                    description
                    </span>
                    </a> *@
                        <a asp-action="Details" asp-route-id="@item.ID">
                            <span class="material-symbols-outlined ft-light-grey px-1">
                                visibility
                            </span>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.ID">
                            <span class="material-symbols-outlined ft-light-grey px-1">
                                delete
                            </span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
