@model IEnumerable<Game>

@{
    ViewData["Title"] = "Home Page";
    var today = DateTime.Today;
}

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Season 2024</li>
        </ol>
        @* Current entities counts boxes *@
        <div class="row" data-masonry='{"percentPosition": true }'>
            <div class="col-xl-3 col-md-3">
                <div class="card text-black mb-4 card-hover shadow ">
                    <div class="card-body d-flex justify-content-around align-items-center">
                        <span>Total Divisions</span>
                        <span class="text-bold fs-5 ft-kelly">@ViewBag.DivisionCount</span>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-black stretched-link" asp-area="" asp-controller="Division" asp-action="Index">View Divisions</a>
                        <div class="small px-2 text-black"><svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
                    </div>
                </div>
            </div><div class="col-xl-3 col-md-3">
                <div class="card text-black mb-4 card-hover shadow ">
                    <div class="card-body d-flex justify-content-around align-items-center">
                        <span>Total Teams</span>
                        <span class="text-bold fs-5 ft-kelly">@ViewBag.TeamCount</span>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-black stretched-link" asp-area="" asp-controller="Team" asp-action="Index">View Teams</a>
                        <div class="small px-2 text-black"><svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-3">
                <div class="card text-black mb-4 card-hover shadow ">
                    <div class="card-body d-flex justify-content-around align-items-center">
                        <span>Total Players</span>
                        <span class="text-bold fs-5 ft-kelly">@ViewBag.PlayerCount</span>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-black stretched-link" asp-area="" asp-controller="Player" asp-action="Index">View Players</a>
                        <div class="small px-2 text-black"><svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-3">
                <div class="card text-black mb-4 card-hover shadow ">
                    <div class="card-body d-flex justify-content-around align-items-center">
                        <span>Total Games</span>
                        <span class="text-bold fs-5 ft-kelly">@ViewBag.GameCount</span>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-black stretched-link" asp-area="" asp-controller="Game" asp-action="Index">View Games</a>
                        <div class="small px-2 text-black"><svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
                    </div>
                </div>
            </div>
        </div>
        @* import box *@
        <div class="row">
            <div class="col-xl-6">
                <partial name="_ImportTeams"/>
                <!-- Upcoming Games List -->
                <div class="card mb-4 card-hover shadow">
                    <div class="card-header">
                        Upcoming Games
                    </div>
                    <div class="card-body d-flex align-items-center">
                        <button id="prevButton" class="btn btn-light h-01">
                            <span class="material-symbols-outlined">
                                arrow_back_ios_new
                            </span>
                        </button>
                        <div class="d-flex carousel-container align-items-center overflow-hidden mx-2 p-3" style="scroll-behavior: smooth;">
                            @foreach (var game in Model.Where(g => g.Date >= today))
                            {
                                <div class="col-md-5 mx-2 card-wrapper game-card">
                                    <div class="card card-hover shadow-sm">
                                        <div class="card-header">
                                            @game.GameType.Description
                                        </div>
                                        <div class="card-body">
                                            @{
                                                var teamGamesList = game.TeamGames.ToList();
                                                var firstTeamGame = teamGamesList.FirstOrDefault();
                                                var secondTeamGame = teamGamesList.LastOrDefault();
                                            }
                                            @if (firstTeamGame != null && secondTeamGame != null)
                                            {
                                                <h5 class="card-title">@firstTeamGame.Team.Name vs @secondTeamGame.Team.Name</h5>
                                                <p class="card-text">
                                                    <strong>@firstTeamGame.score</strong> - <strong>@secondTeamGame.score</strong>
                                                </p>
                                            }
                                            else
                                            {
                                                <p class="card-text">Team information not available</p>
                                            }
                                            <h5 class="card-title">@game.Date</h5>
                                            <h5 class="card-title">@game.Location.LocationName</h5>
                                            <a asp-area="" asp-controller="ScorePlayer" asp-action="Index" class="btn btn-primary">Start game</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <button id="nextButton" class="btn btn-light h-01">
                            <span class="material-symbols-outlined">
                                arrow_forward_ios
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const prevButton = document.getElementById('prevButton');
            const nextButton = document.getElementById('nextButton');
            const carouselContainer = document.querySelector('.carousel-container');
            const cardWidth = carouselContainer.querySelector('.game-card').offsetWidth + 16; // Include margin

            // Set each card's position to center
            const cards = document.querySelectorAll('.game-card');
            cards.forEach(card => {
                card.style.left = (carouselContainer.offsetWidth / 2 - card.offsetWidth / 2) + 'px';
            });

            prevButton.addEventListener('click', function () {
                carouselContainer.scrollLeft -= cardWidth;
            });

            nextButton.addEventListener('click', function () {
                carouselContainer.scrollLeft += cardWidth;
            });
        });
    </script>
}